@model int

<div class="container row pt-4">
    <div class="col-12 text-center">
        <h1 class="text-primary text-center">Payment Successfull!</h1>
        Order Number : <a class="text-primary" asp-area="Admin" asp-action="Details" asp-controller="Order" asp-route-id="@Model">@Model</a> <br /><br />
        <img src="~/images/lawn_leaf.jpg" width="65%" />
    </div>
    <div class="col-12 text-center" style="color:maroon">
        <br />
        Your payment accepted! <br />
        <a class="btn btn-primary" asp-area="Admin" asp-action="Details" asp-controller="Order" asp-route-id="@Model">Back to Order Details</a>
    </div>
</div>